body {
    background-color: RGBA(232, 52, 78, 0.2);
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    font-weight: 800;
    font-size: 6rem !important;
}

.subtitle {
    font-size: 2rem !important;;
}

.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.help {
    color: gray;
}

.modal-content {
    width: 600px;
    height: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

#input-pic-container .image img {
    max-width: 48px;
    max-height: 48px;
    object-fit: cover;
    border-radius: 50%;
}


.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}


